
.layout-div{
    display: flex;
}

.sidenav-section{
    position: fixed;
    background-color: #2e2e1e;
    width: 100px;
    height: 100vh;
    transition: width 0.9s ease;
}

.sidenav-toggled{
    width: 250px;
}

.sidenav-toggle-icon{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.sidenav-toggle-icon p svg{
    background-color:  #f29f67;
    color: white;
    cursor: pointer;
}

.main-page-content{
    margin-left: 100px;
    transition: margin-left 0.9s;
}

.main-page-content-toggled{
    margin-left: 250px;
}