
.layout-div{
    display: flex;
}

.sidenav-section{
    height: 100vh;
    background-color: #2e2e1e;
    width: 100px;
    transition: width 0.9s ease;
}

.sidenav-toggled{
    width: 250px;
}

.sidenav-toggle-icon{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.sidenav-toggle-icon p svg{
    background-color:  #f29f67;
    color: white;
    cursor: pointer;
}

